---
# vars file for {{ .distribution_name }}
liquibase_tgz: {{ .filename }}
liquibase_tmp_tgz: /tmp/{{ "{{ liquibase_tgz }}" }}
liquibase_tgz_url: '{{ .mirror }}/{{ .filename }}'

liquibase_install_dir: '{{ "{{ liquibase_parent_install_dir }}" }}/{{ .distribution_name }}-{{ "{{ liquibase_ver }}" }}'
liquibase_install_link_dir: '{{ "{{ liquibase_parent_install_dir }}" }}/{{ .distribution_name }}'
liquibase_checksum: '{{ "{{ liquibase_checksums[liquibase_ver] }}" }}'