---
# defaults file for {{ .distribution_name }}
liquibase_ver: {{ .version }}
liquibase_distribution: {{ .distribution_name }}
liquibase_mirror: {{ .mirror }}
liquibase_parent_install_dir: /usr/local
liquibase_checksums:
  '{{ .version }}': {{ .checksum }}